In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Placement.csv")

In [3]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [5]:
quan=["ssc_p","hsc_p","degree_p","etest_p","mba_p","salary"]

In [6]:
quan

['ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [7]:
qual=["gender","ssc_b","hsc_b","hsc_s","degree_t","workex","specialisation","status"]

In [8]:
qual

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

In [9]:

dataset["gender"].dtypes

dtype('O')

In [10]:
for columnName in dataset.columns:
    print(columnName)

sl_no
gender
ssc_p
ssc_b
hsc_p
hsc_b
hsc_s
degree_p
degree_t
workex
etest_p
specialisation
mba_p
status
salary

In [11]:
if(dataset["ssc_p"].dtype=='O'):
     print("qual")
else:
     print("quan")

quan

In [12]:
#create empty list for quan and qual
def quanQual(dataset):
            quan=[]    
            qual=[] 
            for columnName in dataset.columns:
                 #print(columnName)
                 if(dataset[columnName].dtype=='O'):
                    #print("qual")
                    qual.append(columnName)
                   # print(qual)
                 else:
                     #print("quan")
                     quan.append(columnName) 
            return qual,quan

In [13]:
quanQual(dataset)

(['gender',
  'ssc_b',
  'hsc_b',
  'hsc_s',
  'degree_t',
  'workex',
  'specialisation',
  'status'],
 ['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary'])

In [14]:

qual,quan=quanQual(dataset)

In [15]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [16]:
qual

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

# Central Tendency

In [17]:
dataset["ssc_p"].mean()

np.float64(67.30339534883721)

In [18]:
dataset["ssc_p"].median()

np.float64(67.0)

In [19]:
dataset["ssc_p"].mode()[0]

np.float64(62.0)

In [20]:
dataset.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [21]:
descriptive=pd.DataFrame()

In [22]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)

In [23]:
descriptive

       sl_no ssc_p hsc_p degree_p etest_p mba_p salary
Mean     NaN   NaN   NaN      NaN     NaN   NaN    NaN
Median   NaN   NaN   NaN      NaN     NaN   NaN    NaN
Mode     NaN   NaN   NaN      NaN     NaN   NaN    NaN

In [24]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)
for columnName in quan:
    descriptive.loc["Mean",columnName]=dataset[columnName].mean()
    descriptive.loc["Median",columnName]=dataset[columnName].median()
    descriptive.loc["Mode",columnName]=dataset[columnName].mode().iloc[0]

In [25]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0

In [26]:
import numpy as np

In [27]:
np.percentile(dataset["ssc_p"],100)

np.float64(89.4)

In [28]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","Q4:100%","IQR"],columns=quan)
for columnName in quan:
     descriptive.loc["Mean",columnName]=dataset[columnName].mean()
     descriptive.loc["Median",columnName]=dataset[columnName].median()
     descriptive.loc["Mode",columnName]=dataset[columnName].mode().iloc[0]
     descriptive.loc["Q1:25%",columnName]=dataset.describe()[columnName]["25%"]
     descriptive.loc["Q2:50%",columnName]=dataset.describe()[columnName]["50%"]
     descriptive.loc["Q3:75%",columnName]=dataset.describe()[columnName]["75%"]
     descriptive.loc["Q4:100%",columnName]=dataset.describe()[columnName]["max"]
     descriptive.loc["IQR",columnName]= descriptive.loc["Q3:75%",columnName]- descriptive.loc["Q1:25%",columnName]
     descriptive.loc["1.5rule",columnName]= 1.5* descriptive.loc["IQR",columnName]
     descriptive.loc["Lesser",columnName]= descriptive.loc["Q1:25%",columnName]- descriptive.loc["1.5rule",columnName]
     descriptive.loc["Greater",columnName]= descriptive.loc["Q3:75%",columnName]+ descriptive.loc["1.5rule",columnName]
     descriptive.loc["min",columnName]=dataset[columnName].min()
     descriptive.loc["max",columnName]=dataset[columnName].max()

In [29]:
 descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
Q4:100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
Lesser,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
Greater,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
min,1,40.89,37.0,50.0,50.0,51.21,200000.0
max,215,89.4,97.7,91.0,98.0,77.89,940000.0

In [30]:
descriptive["hsc_p"]["min"]<descriptive["hsc_p"]["Lesser"]

np.True_

In [31]:
lesser=[]
greater=[]
for columnName in quan:
     if(descriptive[columnName]["min"]<descriptive[columnName]["Lesser"]):
        lesser.append(columnName)
     if(descriptive[columnName]["max"]>descriptive[columnName]["Greater"]):
        greater.append(columnName)

In [32]:
lesser

['hsc_p']

In [33]:
greater

['hsc_p', 'degree_p', 'salary']

In [34]:
#Replacing Outliers
for columnName in lesser:
    dataset[columnName][dataset[columnName]<descriptive[columnName]["Lesser"]]=descriptive[columnName]["Lesser"]
for columnName in greater:
   dataset[columnName][dataset[columnName]>descriptive[columnName]["Greater"]]=descriptive[columnName]["Greater"]

C:\Users\lallu\AppData\Local\Temp\ipykernel_5228\1375351271.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset[columnName][dataset[columnName]<descriptive[columnName]["Lesser"]]=descriptive[columnName]["Lesser"]
C:\Users\lallu\AppData\Local\Temp\ipykernel_5228\1375351271.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[columnName][dataset[columnName]<descriptive[columnName]["Lesser"]]=descriptive[columnName]["Lesser"]
C:\Users\lallu\AppData\Local\Temp\ipykernel_5228\1375351271.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset[columnName][dataset[columnName]>descriptive[columnName]["Greater"]]=descriptive[columnName]["Greater"]
C:\Users\lallu\AppData\Local\Temp\ipykernel_5228\1375351271.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[columnName][dataset[columnName]>descriptive[columnName]["Greater"]]=descriptive[columnName]["Greater"]
C:\Users\lallu\AppData\Local\Temp\ipykernel_5228\1375351271.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset[columnName][dataset[columnName]>descriptive[columnName]["Greater"]]=descriptive[columnName]["Greater"]
C:\Users\lallu\AppData\Local\Temp\ipykernel_5228\1375351271.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[columnName][dataset[columnName]>descriptive[columnName]["Greater"]]=descriptive[columnName]["Greater"]
C:\Users\lallu\AppData\Local\Temp\ipykernel_5228\1375351271.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset[columnName][dataset[columnName]>descriptive[columnName]["Greater"]]=descriptive[columnName]["Greater"]
C:\Users\lallu\AppData\Local\Temp\ipykernel_5228\1375351271.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[columnName][dataset[columnName]>descriptive[columnName]["Greater"]]=descriptive[columnName]["Greater"]

In [35]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","Q4:100%","IQR"],columns=quan)
for columnName in quan:
     descriptive.loc["Mean",columnName]=dataset[columnName].mean()
     descriptive.loc["Median",columnName]=dataset[columnName].median()
     descriptive.loc["Mode",columnName]=dataset[columnName].mode().iloc[0]
     descriptive.loc["Q1:25%",columnName]=dataset.describe()[columnName]["25%"]
     descriptive.loc["Q2:50%",columnName]=dataset.describe()[columnName]["50%"]
     descriptive.loc["Q3:75%",columnName]=dataset.describe()[columnName]["75%"]
     descriptive.loc["Q4:100%",columnName]=dataset.describe()[columnName]["max"]
     descriptive.loc["IQR",columnName]= descriptive.loc["Q3:75%",columnName]- descriptive.loc["Q1:25%",columnName]
     descriptive.loc["1.5rule",columnName]= 1.5* descriptive.loc["IQR",columnName]
     descriptive.loc["Lesser",columnName]= descriptive.loc["Q1:25%",columnName]- descriptive.loc["1.5rule",columnName]
     descriptive.loc["Greater",columnName]= descriptive.loc["Q3:75%",columnName]+ descriptive.loc["1.5rule",columnName]
     descriptive.loc["min",columnName]=dataset[columnName].min()
     descriptive.loc["max",columnName]=dataset[columnName].max()

In [36]:
lesser=[]
greater=[]
for columnName in quan:
     if(descriptive[columnName]["min"]<descriptive[columnName]["Lesser"]):
        lesser.append(columnName)
     if(descriptive[columnName]["max"]>descriptive[columnName]["Greater"]):
        greater.append(columnName)

In [37]:
lesser

[]

In [38]:
greater

[]

In [39]:
#Frequency
dataset["ssc_p"].value_counts()

ssc_p
62.00    11
63.00    10
67.00     9
73.00     9
52.00     9
         ..
55.68     1
41.00     1
83.33     1
43.00     1
80.60     1
Name: count, Length: 103, dtype: int64

In [40]:
freqTable=pd.DataFrame(columns=["Unique_Values","Frequency","Relative_Frequency","CumSum"])
freqTable

Empty DataFrame
Columns: [Unique_Values, Frequency, Relative_Frequency, CumSum]
Index: []

In [41]:
freqTable["Unique_Values"]=dataset["ssc_p"].value_counts().index
freqTable["Frequency"]=dataset["ssc_p"].value_counts().values
freqTable["Relative_Frequency"]=(freqTable["Frequency"]/103)
freqTable["CumSum"]=freqTable["Relative_Frequency"].cumsum()

In [42]:
freqTable

     Unique_Values  Frequency  Relative_Frequency    CumSum
0            62.00         11            0.106796  0.106796
1            63.00         10            0.097087  0.203883
2            67.00          9            0.087379  0.291262
3            73.00          9            0.087379  0.378641
4            52.00          9            0.087379  0.466019
..             ...        ...                 ...       ...
98           55.68          1            0.009709  2.048544
99           41.00          1            0.009709  2.058252
100          83.33          1            0.009709  2.067961
101          43.00          1            0.009709  2.077670
102          80.60          1            0.009709  2.087379

[103 rows x 4 columns]

In [58]:
def freqTable(coluname,dataset):
    freqTable=pd.DataFrame(columns=["Unique_Values","Frequency","Relative_Frequency","CumSum"])
    freqTable["Unique_Values"]=dataset["columnName"].value_counts().index
    freqTable["Frequency"]=dataset["columnName"].value_counts().values
    freqTable["Relative_Frequency"]=(freqTable["Frequency"]/103)
    freqTable["CumSum"]=freqTable["Relative_Frequency"].cumsum()
    return freqTable

In [60]:
freqTable("hsc_p",dataset)

KeyError: 'columnName'

In [ ]:
def Univariate(dataset,quan):
    descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","Q4:100%","IQR"],columns=quan)
    for columnName in quan:
         descriptive.loc["Mean",columnName]=dataset[columnName].mean()
         descriptive.loc["Median",columnName]=dataset[columnName].median()
         descriptive.loc["Mode",columnName]=dataset[columnName].mode().iloc[0]
         descriptive.loc["Q1:25%",columnName]=dataset.describe()[columnName]["25%"]
         descriptive.loc["Q2:50%",columnName]=dataset.describe()[columnName]["50%"]
         descriptive.loc["Q3:75%",columnName]=dataset.describe()[columnName]["75%"]
         descriptive.loc["Q4:100%",columnName]=dataset.describe()[columnName]["max"]
         descriptive.loc["IQR",columnName]= descriptive.loc["Q3:75%",columnName]- descriptive.loc["Q1:25%",columnName]
         descriptive.loc["1.5rule",columnName]= 1.5* descriptive.loc["IQR",columnName]
         descriptive.loc["Lesser",columnName]= descriptive.loc["Q1:25%",columnName]- descriptive.loc["1.5rule",columnName]
         descriptive.loc["Greater",columnName]= descriptive.loc["Q3:75%",columnName]+ descriptive.loc["1.5rule",columnName]
         descriptive.loc["min",columnName]=dataset[columnName].min()
         descriptive.loc["max",columnName]=dataset[columnName].max
    return  descriptive

In [ ]:
Univariate(dataset,quan)

In [ ]:
def chkoutlier(descriptive,quan):
    
    lesser=[]
    greater=[]
    for columnName in quan:
         if(descriptive[columnName]["min"]<descriptive[columnName]["Lesser"]):
            lesser.append(columnName)
          
         if(descriptive[columnName]["max"]>descriptive[columnName]["Greater"]):
            greater.append(columnName)
    return("Lesser", lesser),("Greater", greater)

In [ ]:
chkoutlier(descriptive,quan)

In [45]:
#Function Replacing Outliers
def Rplace_Outlier():
 for columnName in lesser:
    dataset[columnName][dataset[columnName]<descriptive[columnName]["Lesser"]]=descriptive[columnName]["Lesser"]
 for columnName in greater:
    dataset[columnName][dataset[columnName]>descriptive[columnName]["Greater"]]=descriptive[columnName]["Greater"]

In [ ]:
Rplace_Outlier()